.custom-card {
  border-radius: 15px;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.27) 0%,
    rgba(0, 0, 0, 0.210257) 85.43%,
    rgba(0, 0, 0, 0) 118.87%
  );
  backdrop-filter: blur(34px);
}

.square__div {
  position: absolute;
  background: rgba(79, 143, 204, 0.05);
}

.custom-border__radius {
  border-radius: 0px 0px 10px 10px;
}

.custom-nav__item:hover .custom-border__radius {
  border-radius: 0px;
}

.custom-card__header {
  padding-top: 20px;
  border-bottom: 0;
}

.nav-item .custom-nav__item {
  border-radius: 10px 10px 0px 0px;
  padding: 15px;
}

.nav-item .custom-nav__item:hover {
  background: #e9ecef52;
  padding: 15px;
}

.custom-card__body {
  padding: 5px 30px 15px;
}

.custom-card__footer {
  border-top: 0;
  background: none;
  padding: 15px 30px 30px;
}

.custom-input__background {
  background: #dfefff;
  border: 1.5px solid #263c52;
}

.text-color__primary {
  color: #4f8fcc;
}

.text-font__offside {
  font-family: "Offside", cursive;
}

.login__container {
  display: flex;
  max-width: 500px;
}

.label__custom {
  font-size: 14px;
  color: #fff;
}

.background__gradient {
  height: 100vh;
}

.background__gradient:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.47) 0%,
    rgba(0, 0, 0, 0.00489583) 43.23%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 98.44%
  );
  z-index: 1;
}

.backdrop-blur {
  backdrop-filter: blur(12px) contrast(60%);
}

.bg-black {
  background: #2a2a2a6e !important;
}

.active img {
  z-index: -1;
  width: 100%;
  object-fit: cover;
  height: 100vh;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 30px;
  height: 30px;
}
